/*----------------------
Fonts To Import
----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


:root {
    --main-color: #e02f6b;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #efa2b4;
    --cyan-light: #aef1ee;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(5px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--pink-light), var(--pink-light), var(--cyan-light));
    background-attachment: fixed;
    font-size: 16px;
    color: var(--blue-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    overflow: scroll;
    -webkit-tap-highlight-color: transparent;
    padding: 35px 15px;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-color: burlywood;
    z-index: -1;
    opacity: 0.9;
}

img {
    max-width: 100%;
    vertical-align: middle;
    /* border-radius: 50%; */
}

a {
    text-decoration: none;
}

section {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    min-height: calc(100vh-70px);
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
    display: none;
}

section.active {
    display: block;

}

section.fade-out {
    animation: fadeout 0.5s ease-in-out forwards;
}

@keyframes fadein {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
    background-color: transparent;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.main {
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.container {

    padding: 0 40px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home-section {
    /*  display: flex;*/
    align-items: center;
    padding: 120px 0;
}

.home-section.active {
    display: flex;
}

.btn {
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform: capitalize;
    border: 1px solid var(--white-alpha-40);
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width 0.3s ease;
}

button {
    font-family: inherit;
    user-select: none;
}

.btn:hover::before {
    width: 100%;

}

.btn:hover {
    color: white;
}

.home-text,
.home-img {
    width: 75%;
    padding-left: 15px;
    padding-bottom: 15x;
    padding-top: 15x;

}

.home-text p {
    font-size: 18px;
}

.home-text h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.home-text h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-text.btn {
    margin: 0 15px 0;
}

.home-text.btn {
    margin: 0 15px 15px 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

.hidden {
    display: none !important;
}

.section-title {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.sec-padding {
    padding: 80px 0;
}

.section-title h2 {
    font-size: 40px;
    text-transform: capitalize;
}

/*About Scetion*/
.about-img {
    width: 50%;
    padding: 0 15px;
}

.about-text {
    width: 50%;
    padding: 0 15px;
}

.about-img .img-box {
    background-color: var(--white-alpha-25);
    max-width: 380;
    border: 1px solid var(--white-alpha-40);
    margin: auto;
    border-radius: 10px;
}

.about-img .img-box img {
    width: 100%;

}

.about-text h3 {
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills {
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item {
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.about-tabs .tab-item {
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--blue-dark);
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child {
    margin: 0;
}

.about-tabs .tab-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--blue-dark);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before {
    width: 100%;
}

.about-tabs .tab-item.active::before {
    width: 100%;
    background-color: var(--main-color);
}

.about-tabs .tab-item.active {
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}

.about-text .tab-content {
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active {
    display: block;
}

.about-text .timeline-item {
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.about-text .timeline-item:last-child {
    margin-bottom: 0;
}

.about-text .timeline-item .date {
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}

.about-text .timeline-item h4 span {
    font-weight: 400;
}

.about-text .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}

.about-text .timeline-item::before {
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;

}

.about-text .btn {
    margin: 0 15px 15px 0;
}

.portfolio-section {
    padding-bottom: 50px;
}

.portfolio-item {
    width: calc((100% / 3)-30px);
    margin: 0 15px 30px;
}

.portfolio-item-thumbnail {
    padding: 10px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    border-radius: 10px;
}

.portfolio-item-thumbnail img {
    width: 100%;
    border-radius: 30px;
}

.portfolio-item h3 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px 0;
}

.portfolio-item-details {
    display: block;
}

.contact-form {}

.contact-info {}

.contact-form,
.contact-info {
    width: 50%;
    padding: 0 15px;
}

.contact-form .input-group {
    width: 100%;
    margin-bottom: 30px;
}

.contact-form .input-control::placeholder {
    color: var(--blue-dark);
    opacity: 0.8;
    font-weight: 300;
}

.contact-form .input-control {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--white-alpha-25);
    padding: 0 20px;
    color: var(--blue-dark);
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}

.contact-form .input-control:focus {
    border-color: var(--white-alpha-40);
}

.contact-form textarea.input-control {
    height: 120px;
    resize: none;
    padding-top: 15px;
}

.contact-info-item {
    margin: 0 0 30px;
    padding: 0 0 0 20px;
}

.contact-info-item h4 {
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.contact-info-item .social-links a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    color: var(--main-color);
    border-radius: 50%;
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;

}

.contact-info-item .social-links a:hover {
    color: var(--white);
    background-color: var(--main-color);
}

.header.active {
    position: fixed;

    top: 35px;
    padding: 20px 15px;
}

.header.active .container {

    max-width: 1200px;
    margin: auto;
}

.header .nav-toggler {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.header .nav-toggler.hide {
    opacity: 0;
    transition: none;
}

.flex-end {
    justify-content: flex-end;
}

.header .nav-toggler span {
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header.active .nav-toggler span {
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.3 ease;
}

.header .nav-toggler span::before {
    left: 0;
    transform: translateY(-8px);
}

.header.active .nav-toggler span::before {
    transform: rotate(45deg);
}

.header .nav-toggler span::after {
    right: 0;
    transform: translateY(8px);
}

.header.active .nav-toggler span::after {
    transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
    width: 50%;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0;
}

.header .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    visibility: hidden;

}

.header.active .nav {
    visibility: visible;
}

.header .nav-inner {
    min-height: calc(100vh-70px);
    background-color: var(--white-alpha-25);
    max-width: 1200px;
    margin: auto;
    border: 1px solid var(--white-alpha-40);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.header .nav-inner ul li {
    text-align: center;
}

.header.active .nav-inner {
    opacity: 1;
}

.header .nav-inner ul li a {
    font-size: 40px;
    text-transform: capitalize;
    color: var(--blue-dark);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;

}

.header .nav-inner tl li a::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-color: var(--white-alpha-25);
    z-index: -1;
    transition: width 0.5s ease;
}

.header .nav-inner ul li a:hover {
    color: var(--main-color);
}

.header .nav-inner ul li a:hover::before {
    width: 100%;

}

@media(max-width: 991px) {
    .container {
        padding: 0;
    }

    .home-text,
    .home-img {
        width: 100%;
    }

    .home-text {
        text-align: center;
    }
}

@media(max-width: 767px) {}

@media(max-width: 575px) {
    .home-text h2 {
        font-size: 18px;
    }
}